In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

# duplicated
df0 = pd.read_csv('city_dict.csv')
df0

df1 = pd.read_csv('main.csv', usecols=['MIS', 'citycode'])
# df1[df1.citycode.isnull()]
df1.dropna(subset=['citycode'], inplace=True)
df1['citycode'] = df1.citycode.astype(int)
df1

df_merged = pd.merge(df1, df0, on=['citycode'], how='left')
df_merged.dropna(subset=['City'], inplace=True)
df_merged['MIS'] = df_merged['MIS'].astype('str')

df_mis = pd.read_csv('survey.csv')
df_mis['MIS'] = df_mis['MIS'].astype('str')
df_mis_merged = pd.merge(df_mis, df_merged, on=['MIS'], how='left')
df_mis_merged[df_mis_merged.City.isnull()].count()
df_mis_merged.to_excel('mis_merged.xlsx', sheet_name='merged', index=False)
print('Done')

In [3]:
!ls

main.ipynb       wenjuancity.xlsx

In [23]:
df0 = pd.read_csv('city_dict.csv')
df0

    Province      City  citycode
0         上海        上海        21
1         北京        北京        10
2         广东        广州        20
3         广东        深圳       755
4         四川        成都        28
..       ...       ...       ...
192       浙江  岱山 in 舟山      1580
193       浙江  北仑 in 宁波      1574
194       吉林        长春       431
195       甘肃        定西       932
196      黑龙江       哈尔滨       451

[197 rows x 3 columns]

In [53]:
df_merged = pd.merge(df1, df0, on=['citycode'], how='left')
df_merged.dropna(subset=['City'], inplace=True)
df_merged['MIS'] = df_merged['MIS'].astype('str')
# df_merged.to_excel('merged.xlsx', sheet_name='city_merged')
# print("Done")

In [37]:
df1 = pd.read_csv('main.csv', usecols=['MIS', 'citycode'])
# df1[df1.citycode.isnull()]
df1.dropna(subset=['citycode'], inplace=True)
df1['citycode'] = df1.citycode.astype(int)
df1

                                MIS  citycode
0                         325548461     731.0
1                        2903463657     777.0
2                          98950465     663.0
3                          81699595      28.0
4                          33306263      24.0
...                             ...       ...
19757                     692911827    1774.0
19758  oA0CEwL2lZI0LdxSR9BLh0YRZ7es     757.0
19759                     287946178     411.0
19760                    1955555630     533.0
19761                           NaN       NaN

[19762 rows x 2 columns]

In [46]:
# 667204394
df_merged[df_merged.MIS == '667204394']

             MIS  citycode Province  City
10068  667204394       471      内蒙古  呼和浩特

In [58]:
df_mis = pd.read_csv('survey.csv')
df_mis['MIS'] = df_mis['MIS'].astype('str')
df_mis_merged = pd.merge(df_mis, df_merged, on=['MIS'], how='left')
df_mis_merged[df_mis_merged.City.isnull()].count()
df_mis_merged.to_excel('mis_merged.xlsx', sheet_name='merged', index=False)
print('Done')

Done